footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: $color-2;

    div {
        background-repeat: no-repeat;
        background-color: $color-1;
        padding: 20px;
        display: flex;
        justify-content: space-around;

        a {
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}